
$card-fire : #f90536;
$card-water : #9ECCFA;
$card-grass : #08D57F;
$card-bug : #87AB69;
$card-electric : #EFBF38;
$card-poison : #9c6fc2;
$card-flying : #8DCFEC;
$card-ground : #8F664A;
$card-dragon :  #2979FF;
$card-fairy : #F99DBC;
$card-psychic :  #fd53a5;
$card-fighting : #D73939;
$card-ghost :  #4B1C71;
$card-rock : #765341;
$card-ice :  #9CC9D2;
$card-normal:  #9f9f9f;
$card-steel : #b3b3b3;
$card-dark: #212510;


$text-color : rgba(20, 20, 20, 0.886);
$alternative-text : #fff;
