* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: Tahoma, sans-serif;
  background-color: white;
}

@media (max-width: 720px) {
  .slides {
    margin: auto;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    padding: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 80%;
    height: 600px;
    border-radius: 32px;
  }
  .prev {
    display: flex;
    gap: 8px;
    width: 100%;
    color: #D41D1D;
    text-decoration: none;
  }
  img {
    width: 280px;
  }
  .content-chc {
    text-align: center;
    width: 100%;
    padding: 3%;
  }
  .content-chc h2.character-name {
    color: red;
    padding: 2%;
  }
  .content-chc p.about-character {
    margin: auto;
    width: 90%;
  }
  .footer {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  .button {
    background-color: #D41D1D;
    color: #fff;
    width: 200px;
    height: 40px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 999px;
  }
  .dot-box {
    text-align: center;
  }
  .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 2px;
    background-color: #c1c1c1;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #D41D1D;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }
}
@media (min-width: 1200px) {
  .slides {
    margin: auto;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .container {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 80%;
    height: 70%;
    padding: 32px;
    border-radius: 32px;
  }
  .conteiner-chc {
    flex-direction: column;
  }
  .prev {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    color: blue;
    text-decoration: none;
  }
  img {
    width: auto;
    height: 160px;
  }
  .footer {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  .button {
    background-color: yellow;
    color: #fff;
    width: 200px;
    height: 40px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 999px;
  }
  .dot-box {
    text-align: center;
  }
  .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 2px;
    background-color: green;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: purple;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }
}
@media (max-width: 720px) {
  header {
    background-color: rgb(247, 19, 19);
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 0px 0px 10px 10px;
  }
  header h1.site-name {
    color: white;
    align-self: center;
    padding-left: 5%;
  }
}
@keyframes nav {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
menu.fade {
  animation-name: fade;
  animation-duration: 0.6s;
}

i#burger {
  align-self: center;
  margin-right: 5%;
  float: right;
  color: white;
}

menu {
  display: none;
}

menu.nav-bar {
  width: 100%;
  background-color: rgb(247, 19, 19);
  position: absolute;
  top: 123px;
  left: 50%;
  transform: translate(-50%, -50%);
}
menu.nav-bar ul.search {
  list-style: none;
}
menu.nav-bar ul.search li {
  padding: 5px;
}
menu.nav-bar ul.search .target {
  padding: 5px;
  display: flex;
  margin: auto;
  text-decoration: none;
  text-align: center;
  color: white;
}/*# sourceMappingURL=index.css.map */