
*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  margin: auto;
}

@import './components-pkdx/btn-page';
@import './components-pkdx/card-config';
@import './components-pkdx/header';
@import './components-pkdx/pokeList';
@import './components-pkdx/types-config';
@import './components-pkdx/types-pokemons';