
$type-fire : #ff003cdb;
$type-water : #D1E8FF;
$type-grass : #32FCA7;
$type-bug : #A3C585;
$type-electric : #F5DE7A;
$type-poison : #db74fd;
$type-flying : #80dbfc;
$type-ground :#AC8764;
$type-dragon : #5e98fc;
$type-fairy : #FEC2D6;
$type-psychic :  #fd78b8;
$type-fighting : #E95F5F;
$type-ghost : #7F4CA5;
$type-rock : #A08679;
$type-ice : #C9E4E9;
$type-normal:  #f9f9f9;
$type-stell : #E6E5DF;
$type-dark: #535353; 